body {
  background: #023566;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Arial;
}

table {
  margin: auto;
  width: 70%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #000000;
  padding: 10px;
}

.active { color: lime; }
.idle { color: orange; }
.error { color: red; }
canvas {
  max-width: 100%;
}